/* Write your CSS here */

.not-found-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.not-found-img {
  width: 100px;
  height: 100px;
}

.light-background {
  background-color: #ffffff;
  color: #1e293b;
}

.dark-background {
  background-color: #1e293b;
  color: #ffffff;
}
