/* Write your CSS here */

.navbar-light-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #1e293b;
}

.navbar-dark-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.website-logo-img {
  width: 20px;
  height: 20px;
}

.theme-img {
  width: 20px;
  height: 20px;
}

.text-con-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  color: #ffffff;
}

.text-con-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  color: #ffffff;
}

.text-decoration {
  text-decoration: none;
}
